*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
/*comienzo de páfina - menú nav fijo******************************/
.header{
    background-color: rgb(229, 199, 238);
    box-shadow: 1px 0px 2px 0px;
    padding: 30px;
    width: 100%;
    position:fixed;
    margin-top: 0;   
}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    width: 95%;
    max-width: 1200px ;
    
}
.lista, a{
    display: flex;
    font-size: 15px;
    color: rgb(45, 45, 45);
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

.lista :hover{
    color: #5c2194;
    font-weight: 500;
}

.item{
    list-style-type: none;
    margin:0 10px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 40px;
    text-decoration: none;
    
}
.boton-contacto{
    font-size: 15px;
    color: white;
    background-color: #8d5db9;
    border-radius:100px;
    padding: 0 25px;
    box-sizing: border-box;   
}

.boton-contacto:hover{
    color: #fff;
    background-color:#5c2194;
}

/*portada***************************************************/

.main-hola{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 50px;
    
}

.hola{
    display: flex;
    width: 100%;
    padding: 100px 50px;
    justify-content: center;

}

.espacio{
    width: 100%;
    max-width: 1400px;
}

.primerp{
    font-weight:800;
    font-size: 30px;
    text-align:left;
}
.nombre{
    font-weight: 900;
    color: #5c2194;
    font-size: 60px;
    margin: 4px 0;
    
}
.nombrep{
    margin: 25px 0px 20px;
    font-size: 15px;
    color: rgb(45, 45, 45);
}
/*boton de portada*/
.boton{
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #5c2194;
    border-radius:30px;
    padding: 20px;
    max-width: 40%;
    box-sizing: border-box;
    font-weight: 500;
}
.boton:hover{
    background-color: #8d5db9;
}

.img-portada img{
        margin-left: 30px;
        width: 600px;
        height: auto;
        align-items: flex-end;
    }

/*seccion mis conocimientos**************************************/

.mis-conocimientos{
    display: flex;
    background-color: rgb(236, 223, 240);
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: auto;   
}

.conocimientos{
    display: flex;
    justify-items: center;
    max-width: 1200px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}
.titulo-section{
    font-size: 45px;
    justify-items: center;
    height: 50px;
    margin: 100px 0 20px;
}
.plorem{
    justify-items: center;
    width: 400px;        
}

/*uso de grid para tabla en vez de flexbox*****/    
.grid-tabla{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    grid-gap: 10px;
    margin-bottom: 40px;
    color: #5c2194;   
}
   

.grid-tabla div{
    text-align: center;
    border: 1px solid #dddfe5;
    border-radius: 4%;
    height: 16em;
    width: 16em;
    background-color: #fff;
   
    
}

.grid-tabla div:hover{
    border: 2px solid #6d05ceda;

}

.grid-contenido{
    display: grid;
    justify-content: center;
    align-content: center;
}

.html:hover{
    color: #e54d26;
}
.css:hover{
    color: #3d8fc6;
}
.sass:hover{
    color: #c69;
}
.javascript:hover{
    color: #f0db4f;
}
.react:hover{
    color: #61dafb
}
.git:hover{
    color: #f34f29; 
}

.grid-contenido i{
    font-size: 60px;
}

.titulo-item{
    font-weight: 600;
    margin-top: 15px;
    font-size: 20px;
}


/*comienzo de cita********************************/
.contenido-someone{
   text-align: center;
   font-size: 30px; 
   color: gainsboro;
   padding: 200px;
   background-color:#6d05ceda ;
}
.fa-quote-right{
    font-size: 80px;

}
/*fin de cita*/

/*seccion mis proyectos****************************/

.contenedor-one{
    display: flex;
    max-width: 1200px;
    max-height: 1200px;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}
.titulo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0 20px;
}
.titulo-card h1{
    align-self: center;
    font-size: 45px;
    font-weight: 900;
    padding: 20px 50px;
}

/****** grilla de proyectos ********/


.card-proyecto{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
}

.contenedor-two{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
    justify-items: center;
    margin: 50px auto;      
}
.img-proyectos{
    width: 350px;
    height: 300px;
    flex-wrap: wrap;
    border: 1px solid #dddfe5;
    border-radius: 15px;
    display: flex;
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
}

.img-proyectos a{
    width: 340px;
    height: 280px;
    flex-wrap: wrap;
    display: flex;
    margin: 20px 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.img-proyectos:hover{
    border: 2px solid #5c2194;
    
}
.img-proyectos a:hover{
    color: #5c2194;
}

.img-proyectos img{
    width: 100%;
    height: 200px;
    width: 300px;
    margin: 20px;
    flex-wrap: wrap;    
}

.nombre-card{
    font-weight: 600;
    text-align: center;
}


/*seccion contacto*****************************/

.contacto{
    background-color:#ecdff0;
    padding: 150px 110px;
}

.caja{
    display: flex;
    background-color:#fff;
    border-radius: 20px;
    border: 1px solid rgb(245, 242, 248);
    max-width: 1100px;
    height: 650px;
    padding: 50px;
    text-align: left;
    box-shadow: 5px 5px 5px 0 rgb(229, 199, 238);
    justify-content: space-between;
}

/*columna redes*/

.contactame{
    display: flex;
    flex-direction: column;
    max-width: 400px;
   
}

.contactame h1, .formulario h1{
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 900px;

}

.contactame p{
    margin-bottom: 40px;
}

.redes{
    display: flex;
    
}
.lista-redes-enlace li{
    padding: 15px;
    background-color:#fff;
    color: #5c2194;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    transition: .5s;      
}
.lista-redes-enlace li:hover{
    background-color: #5c2194;
    color: #fff;
    transform: scale(1.1);

}
.lista-redes-enlace{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    margin: 10px;    
}

.lista-redes-item{
    display: flex;
    margin: 5px 0;
    align-items: center;
   
}
/*columna formulario*/
.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    width: 50%;
    margin-left: 20px;  
    flex-wrap: wrap;
}

input, textarea{
    display: block;
    border-radius: 20px;
    background-color:#ecdff0;
    padding: 10px 15px;
    border: 1px solid #ecdff0; 
    width: 100%; 
    outline: none;
    transition: .2s;     
}
input:focus,textarea:focus{
    border: 1.5px solid #8d5db9;
    box-shadow: 0px 3px 10px 1px #5c2194;
}

.caja-nombre{
    display: flex;
    flex-grow: 1;  
    width: 100%;
    justify-content: space-around; 
    flex-wrap: wrap;  
} 

.form-nombre{
    display: flex;
    flex-direction: column;
    justify-items:baseline;
    width: 49%;
    margin-bottom: 5px;
}

.form-part{
    margin-left: 10px;
  
}

.boton-mensaje{
    margin-top: 10px;
    background-color:#8d5db9;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #8d5db9;
    box-shadow: 0px 3px 10px 1px #5c2194;
}
.boton-mensaje:hover{
    background-color: #5c2194;
}
  

 
/*inicio de footer*/

.footer-footer{
    display: flex;
    flex-direction: column;
    background-color:#8d5db9;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 20px;
}

.menu-nav-f{
    display: flex;
    
}
.menu-nav-f .boton-contacto{
    padding-left: 0;
}

.footer-menu li{
    list-style-type: none;
    margin: 10px auto;
    padding: 10px;   
}

.menu-nav-f a{
    color: #fff;
}

.menu-nav-f a:hover{
    color: #5c2194;

}

.menu-nav-f .boton-contacto:hover{
    background-color: #8d5db9;
    color: #5c2194;
}

.redes-footer{
    display: flex;
    list-style-type: none;
    max-width: 500px;
    align-items: center;
    
    
}

.redes-footer li a i{
    display: block;
    padding: 15px;
    background-color: #fff;
    color:#5c2194;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    transition: .5s;

}
.redes-footer i:hover{
    transform: translatey(-3);
    transform: scale(1.1);
    box-shadow: 0 5px 5px 0 rgb(229, 199, 238);
    border-radius: 50%;
    background-color: #5c2194;
    color: #fff;
}

span{
    color: #fff;
    padding: 20px;
}

/* ****************************************
comienzo de responsive en mobile 
**************************************** */
@media screen and (max-width:740px) {
    .main-hola{
        padding: 0;
    }
    .header{
        display: none;
    }
    .hola{
        padding: 50px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .primerp{
        font-size: 20px;
        font-weight: 400;
    }
    .nombre{
        font-size: 50px;
        font-weight: 700;
    }
    .nombrep{
        margin:10px;   
    }
    .boton{
        font-size: 10px;
        padding: 10px 7px;
        margin-left: 30%;
        margin-top: 30px;
        margin-bottom: 10px;    
    }
    .img-portada img{
        width: 400px;
        height: auto;
        margin-left: 0%;
    }
    /*fin de portada*/
    /*comienzo de grilla de conocimientos*/
    .titulo-section{
        font-size: 25px;
        margin: 30px 0 10px;
    }
    .plorem{
        width: 250px;
    }
    .grid-tabla{
        grid-template-columns: none;
        grid-gap:40px;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .grid-tabla div{
        width: 12em;
        height: 10em;
    }
    .grid-contenido i{
        font-size: 40px;
    }
    /*fin de grilla*/
    /*comienzo de cita*/
    .contenido-someone{
        font-size: 1em;
        padding: 80px 3px;
    }
    .fa-quote-right{
        font-size: 50px;   
    }
    /*fin de cita*/
    /*comienzo proyectos*/
    .contenedor-one{
        margin: 5px 0;
    }
    .titulo-card{
        margin: 30px 0 10px;
        text-align: center;
    }
    .titulo-card h1{
        font-size:30px;
    }
    .titulo-card p{
        margin: 5px;
        font-size: 13px;
    }
    .contenedor-two{
        width: 150px;
        margin: 25px auto;
    }
    .img-proyectos img{
        width: 100%;
        height: 125px;
    }
    .img-proyectos a{
        width: 260px;
        height: 200px;
        margin: 10px 10px;
    }
    /*fin de proyectos*/
    /*******************
    *comienzo de contacto*/
    .contacto{
        padding: 0%;
        display: flex;
        justify-content: center;
    }
    .caja{
        flex-direction: column;
        width: 90%;
        padding: 30px;
        margin-bottom: 5%;
        text-align: center;
        align-items: center;
        height: auto;
    }
    .contactame{
        width: 100%;
        align-items: center;
    }
    .contactame p{
        margin-bottom: 0% auto;
    }
    .contactame h1, .formulario h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .lista-redes-enlace li{
        padding: 15px;
        font-size: 15px;
        width: 40px;
        height: 40px;
        flex-direction: column;
        margin: 17px;
    }
    .formulario{
        padding-left: 0px;
        width: 100%;
        margin: 1%;  
        align-items: center;
    }
    .form-nombre{
        width: 100%;
    }
    .form-part{
        margin: 1%;
    }
    .boton-mensaje{
        padding: 10px;
        width: 90%;
        margin: 10px auto;
    }
    /***fin de contacto***/
    /*inicio de footer*/
    .footer-footer{
        padding: inherit;
        width: 100%;
    }
    .menu-nav-f{
        flex-direction: column;
    }
    .menu-nav-f a{
        font-size: 10px;
    }
    .footer-menu li{
        padding: 0px;   
    }
    .boton-contacto{
        padding-left: 0%;
    }
    .redes-footer li a i{
        padding: 8px 8px;
        font-size: 10px;
        line-height: 12px;
        margin: 5px;
        width: 30px;
        height: 30px;
    }
    

}   